.BettingPanel {
    width: 480px;
    height: 160px;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    right: 0;
}

.Button {
    background-color: #f14e4e;
    display: inline-block;
    padding: 16px 32px;
    margin: 0 4px 4px 0;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 120%;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.Left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.Middle {
    position: absolute;
    left: 50%;
    margin-left: -52px;
    bottom: 0;
}

.Right {
    position: absolute;
    right: 0;
    bottom: 0;
}